@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: 255 255 255;
  --fg: 15 15 15;
}

.dark {
  --bg: 15 15 15;
  --fg: 240 240 240;
}

body {
  background-color: rgb(var(--bg));
  color: rgb(var(--fg));
}
